<div class="container">
  <h1
    class="display-3 text-center fw-bold text-uppercase p-3 mb-4 bg-dark rounded shadow-sm text-light"
  >
    Contact List
  </h1>
  <div class="row mb-3 d-flex justify-content-center align-items-center">
    <div class="col-md-9">
      <form>
        <div class="input-group">
          <label class="input-group-text" for="filterByContactType"
            >Filter by contact type:</label
          >
          <select
            class="form-select"
            id="filterByContactType"
            name="filterByContactType"
            [(ngModel)]="selectedContactType"
            (ngModelChange)="onContactTypeChange($event)"
          >
            <option value="All">All</option>
            <option *ngFor="let type of ctp" [value]="type.TypeName">
              {{ type.TypeName }}
            </option>
          </select>
        </div>
      </form>
    </div>
    <div class="col-md-3 d-flex justify-content-end">
      <button
        type="button"
        class="btn btn-success btn-block border d-flex align-items-center justify-content-center"
      >
        <p
          class="my-auto"
          data-bs-toggle="modal"
          data-bs-target="#contactModalUnique"
        >
          Add Contact
        </p>
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="list-group">
        <div
          *ngFor="let contact of filteredContacts"
          class="list-group-item d-flex justify-content-between align-items-center"
        >
          <div class="w-75 p-3">
            <h5
              class="mb-1 w-50 d-flex justify-content-between align-items-center"
            >
              <span class="fw-bold me-3"
                >Name:
                <span class="text-primary">{{ contact.Name }}</span></span
              >

              <h6 class="h-100">
                <span class="h-100 badge bg-secondary"
                  >Username: {{ contact.UserName }}</span
                >
              </h6>
            </h5>
            <p class="mb-1">
              <strong>Contact Type:</strong> {{ contact.ContactType?.TypeName }}
            </p>
            <p class="mb-1">
              <strong>Phone:</strong> {{ contact.PhoneNumber }}
            </p>
            <div
              *ngFor="
                let value of getEntriesValue(contact.AdditionalField);
                let i = index
              "
            >
              <p *ngIf="i !== 0 && value[1]!=''" class="mb-1">
                <strong>{{ value[0] }}:</strong> {{ value[1] }}
              </p>
            </div>
          </div>
          <div class="d-flex">
            <button
              (click)="editContact(contact)"
              class="btn btn-primary me-2"
              class="btn btn-primary"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-pencil"
                viewBox="0 0 16 16"
              >
                <path
                  d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"
                />
              </svg>
            </button>
            <button (click)="deleteContact(contact)" class="btn btn-danger">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-trash"
                viewBox="0 0 16 16"
              >
                <path
                  d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"
                />
                <path
                  d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"
                />
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Contact Info</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form (ngSubmit)="onSubmit(myForm, modalInfo)" #myForm="ngForm">
            <div
              *ngFor="
                let fieldValue of getEntriesValue(modalInfo);
                let i = index
              "
              class="mb-3"
            >
              <label
                [for]="fieldValue[0]"
                *ngIf="
                  fieldValue[0] !== 'ContactTypeId' &&
                  fieldValue[0] !== 'AdditionalFields' &&
                  fieldValue[0] !== 'AdditionalField' &&
                  fieldValue[0] !== 'ContactType'
                "
                class="form-label"
                ><strong>{{ fieldValue[0] }}:</strong></label
              >
              <input
                [name]="fieldValue[0]"
                *ngIf="
                  fieldValue[0] !== 'ContactTypeId' &&
                  fieldValue[0] !== 'AdditionalFields' &&
                  fieldValue[0] !== 'AdditionalField' &&
                  fieldValue[0] !== 'ContactType'
                "
                type="text"
                class="form-control"
                [id]="fieldValue[0]"
                placeholder=""
                [value]="fieldValue[1]"
                required
              />
            </div>
            <div
              *ngFor="
                let v of getEntriesValuesContactType(modalInfo);
                let i = index
              "
              class="mb-3"
            >
              <label
                [for]="v[0]"
                *ngIf="v[0] !== 'ContactTypeId'"
                class="form-label"
                ><strong>{{ v[0] }}:</strong></label
              >
              <input
                [name]="v[0]"
                *ngIf="v[0] !== 'ContactTypeId'"
                type="text"
                class="form-control"
                [id]="v[0]"
                placeholder=""
                [value]="v[1]"
                required
              />
            </div>

            <div
              *ngFor="
                let v of getEntriesValuesAdditionalFields(modalInfo);
                let i = index
              "
              class="mb-3"
            >
              <label
                [for]="v[0]"
                *ngIf="v[0] !== 'AdditionalField'"
                class="form-label"
                ><strong>{{ v[0] }}:</strong></label
              >
              <ng-container *ngIf="v[0] !== 'AdditionalField'">
                <input
                  [name]="v[0]"
                  type="text"
                  class="form-control"
                  [id]="v[0]"
                  placeholder=""
                  [value]="v[1]"
                  required
                />
              </ng-container>
            </div>
            <div>
              <button
                type="button"
                class="btn btn-secondary me-3"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button type="submit" class="btn btn-primary">
                Save changes
              </button>
            </div>
          </form>
        </div>
        <div class="modal-footer"></div>
      </div>
    </div>
  </div>

  <app-add-contact-modal (contactList)="updateList($event)"></app-add-contact-modal>
  
</div>
